* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

#cargar {
    display: flex;
    gap: 7em;
    justify-content: center;
    margin-top: 2em;
}

#cargartexto {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2em;
    width: 10em;
    padding: 3em;
}
#archivotexto {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2em;
    width: 20em;
    padding: 3em;
}
#contboton {
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

#calcularfrecuencias {
    color: white;
    background-color: black;
    width: 10em;
    height: 2em;
    border-radius: 1em;
}

#botontexto {
    color: white;
    background-color: black;
    width: 10em;
    height: 2em;
    border-radius: 1em;
}
img {
    height: 5em;
    width: 5em;
    display: block;
    margin: 0 auto;
}

.boton {
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 2em;
}

#resultados {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#algoritmos {
        display: flex;
        gap: 7em;
        justify-content: center;
        margin-top: 2em;
}